name: Build and Push to ECR

on:
  push:
    branches:
      - main   # or whichever branch you want to trigger on

env:
  AWS_REGION: us-east-1
  ECR_REGISTRY: 737247133335.dkr.ecr.us-east-1.amazonaws.com
  APP_NAME: mynode

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to ECR
        run: |
          IMAGE_TAG=${{ github.sha }}
          docker build -t $ECR_REGISTRY/$APP_NAME:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$APP_NAME:$IMAGE_TAG
